<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/784/784152.png" type="imagen/png" >
    <title>@ViewData["Title"] - INMOBIHOGAR </title>
    
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.min.js" integrity=""></script>

</head>

<h1 style="color: orange"> WELCOME TO INMOBILIARIA HOGAR</h1>

<h2>This project is developed by INMOBITEAM for the four cycle, we create this platform web with the purpose to help our clients to share there propierties with the world and in the same form give a better oportunities to the interested</h2>

